*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background:rgba(26, 11, 46, 1);
    width: 100%;
    height: 92px;
    padding-top: 19px;
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between; */
    border-bottom: 1px solid #412567;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    color: white;
}
header h1 span{
    background-image: linear-gradient(40deg,#F7E93F,#FB09B4,#9100F8);
    background-clip:text;
    color: transparent;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
header nav ul li{
    font-weight: 500;
    color: #ffffff;
}
header nav button{
    width: 135px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: linear-gradient(50deg,#F7E93F,#FB09B4,#9100F8);
    border-radius: 40px;
    border: none;
    font-weight: 600;
    color: #ffffff;
}
.hamburger-menu{
    display: none;
}



/* hero-section  start */

.hero-section{
    width: 100%;
    height: 760px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 100px;
    background-color: rgba(26, 11, 46, 1);
}

.hero-section .abs{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;

}
.hero-section >img{
    width: 100%;
}
.hero-section .microphone{
    position: absolute;
    top: 80px;
    left: 110px;
}
.hero-section .abs >button{
    background-color: rgba(0, 255, 136, 1);
    width: 75px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.527);
    position: absolute;
    top: 25px;
    right: 25px;
}

.hero-section h1{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 8px;
}
.hero-section p{
    color: #ffffff;
    margin-bottom: 24px;
}
.hero-btns button{
    border-radius: 20px;
    font-weight: 600;
}
.hero-btns{
    max-width: 356px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-btns .gb{
        width: 200px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(50deg,#F7E93F,#FB09B4,#9100F8);
        color: white;
        border: none;
        gap: 6px;
        
}
.hero-btns .grinbtn{
    width: 147px;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}



/* prodcast-section  */
.prodcast-section{
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #1A0B2E;
    color: white;
}
.prodcast-section>p,h1{
    text-align: center;
}
.prodcast-section h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.prodcast-section .prod-text{
    width: 70%;
    margin: 0 auto;
}
#p{
    margin-bottom:60px;

}
.prodcast-section p{
    font-weight: normal;
    line-height: 20px;
    opacity: 0.8;
    text-align: center;
}
.prodcast-section hr{
    margin-top: 80px;
    /* border: 1px solid white; */
    background: rgba(26, 11, 46, 1);
}

.card-container{
    margin-top: 80px;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(4,1fr);
}
.card-container .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.card-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;
}
.card-container p{
    color: #ffffff;
    opacity: 0.8;

}


/* .choose-section */

.choose-section{
    background-color: #230E3D;
    padding: 120px 0;
}
.choose-section .container >h1{
    margin-bottom: 40px;
    font-size: 40px;
    color: white;
    /* margin-bottom: 16px; */

}
.grid-container{
    max-width: 1200;
    height: 783px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.grid-container >div{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}
.grid-container >div h1{
    font-size: 24px;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: start;

}
.grid-container >div p{
    color: #ffffff;
    line-height: 24px;
    opacity: 0.6;

}
.grid-item1{
    grid-row: span 2;

}
.grid-item1 img{
    margin-top: 80px;
}
.grid-item2{
    grid-column: span 2;
}
.grid-item3{
    grid-column: span 2;
}
.grid-item4{
    grid-column: span 2;
}
.grid-item5{
    grid-column: span 1;
}


/* featured-section  */
.featured-section{
    background-color: #1A0B2E;
    padding:120px 0;
}
.featured-section .container >h1{
    font-size: 48px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.fear-card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
}
.fear-card-container .ifrem-card{
    background-color: #250D44;
    border-radius: 20px;
    height: 460px;
}
.fear-card-container .ifrem-card iframe{
    width: 100%;
    height: 212px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.card-content{
    padding: 24px;
}
.times{
    display: flex;
    align-items: center;
    gap: 10px;
}
.times img{
    width: 20px;
    height: 20px;
}
.card-content h1{
    text-align: start;
    color: #ffffff;
    font-size: 24px;
}
.card-content p{
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
    margin-top: 8px;
    margin-bottom: 8px;
}
.host-container{
    margin-top: 120px;
}
.host-container > h1{
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 40px;

}
.host{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    gap: 24px;
    border-radius: 30px;
}
.host .txt-content h1{
    margin-bottom: 16px;
    font-size: 32px;
    color: white;
    text-align: start;

}
.host .txt-content p{
    margin-bottom: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
}
.host .icons{
    display: flex;
    gap: 8px;

}
.host .icons .cir{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
}


/* small device responsive */

@media screen and (max-width:576px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    header nav ul{
        display: none;
    }
    header nav button{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    /* hero section  */
    .hero-section{
        padding-top: 40px;
        /* padding-bottom: 40px; */
        height: 466px;
    }
    .hero-btns{
        padding-left: 10px;
        padding-right: 10px;
    }
    .hero-section .abs{
        width: 200px;
        height: 200px;        
    }
    .hero-section .abs .gradiend{
        width: 100%;
    }
    .hero-section .microphone{
        width: 80px;
        top: 40px;
        left: 60px;
    }
    .hero-section .abs button{
        top: 10px;
        right: 5px;
    }
    .hero-section h1{
        font-size: 40px;
        /* margin-bottom: 20px; */

    }
    .hero-section p{
        width: 100%;
        padding: 0 20px;
        /* margin: 0 auto; */
    }

/* .prodcast-section  */


    .prodcast-section{
        padding-bottom: 40px;
    }

    .prodcast-section h1{
        font-size: 32px;
    }
    .prodcast-section .prod-text{
        width: 95%;
        
    }
    #p{
        margin-bottom: 20px;
    }
    .prodcast-section hr{
        margin-top: 40px;
    }
    .card-container {
    margin-top: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}








.choose-section{
    padding-top: 40px;
}
.grid-container{
    /* max-width: 1200; */
    height: 1550px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
}


.grid-item1{
    grid-row: span 1;

}
.grid-item1 img{
    margin-top: 10px;
}
.grid-item2{
    grid-column: span 1;
}
.grid-item3{
    grid-column: span 1;
}
.grid-item4{
    grid-column: span 1;
}
.grid-item5{
    grid-column: span 1;
}

/* featured-section  */
.featured-section{
    padding:40px 0;
}
.fear-card-container{
    /* display: grid;
    gap: 30px; */
    grid-template-columns: repeat(1,1fr);
}
.host-container{
    margin-top: 60px;
}
.host{
    flex-direction: column;
}
.txt-content{
    text-align: center;
}
.txt-content #hosth{
    text-align: center;
}
.host .txt-content p{
    width: 90%;
    margin: 16px auto;
}
.featured-section .icons{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}
}