*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background:rgba(26, 11, 46, 1);
    width: 100%;
    height: 92px;
    padding-top: 19px;
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between; */
    border-bottom: 1px solid #412567;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    color: white;
}
header h1 span{
    background-image: linear-gradient(40deg,#F7E93F,#FB09B4,#9100F8);
    background-clip:text;
    color: transparent;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
header nav ul li{
    font-weight: 500;
    color: #ffffff;
}
header nav button{
    width: 135px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: linear-gradient(50deg,#F7E93F,#FB09B4,#9100F8);
    border-radius: 40px;
    border: none;
    font-weight: 600;
    color: #ffffff;
}
.hamburger-menu{
    display: none;
}


/* hero-section  start */

.hero-section{
    width: 100%;
    height: 760px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 100px;
    background-color: rgba(26, 11, 46, 1);
}

.hero-section .abs{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;

}
.hero-section >img{
    width: 100%;
}
.hero-section .microphone{
    position: absolute;
    top: 80px;
    left: 110px;
}
.hero-section .abs >button{
    background-color: rgba(0, 255, 136, 1);
    width: 75px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.527);
    position: absolute;
    top: 25px;
    right: 25px;
}

.hero-section h1{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 8px;
}
.hero-section p{
    color: #ffffff;
    margin-bottom: 24px;
}
.hero-btns button{
    border-radius: 20px;
    font-weight: 600;
}
.hero-btns{
    max-width: 356px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-btns .gb{
        width: 200px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(50deg,#F7E93F,#FB09B4,#9100F8);
        color: white;
        border: none;
        gap: 6px;
        
}
.hero-btns .grinbtn{
    width: 147px;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}













/* small device responsive */

@media screen and (max-width:576px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    header nav ul{
        display: none;
    }
    header nav button{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    /* hero section  */
    .hero-section{
        padding-top: 40px;
        /* padding-bottom: 40px; */
        height: 466px;
    }
    .hero-btns{
        padding-left: 10px;
        padding-right: 10px;
    }
    .hero-section .abs{
        width: 200px;
        height: 200px;        
    }
    .hero-section .abs .gradiend{
        width: 100%;
    }
    .hero-section .microphone{
        width: 80px;
        top: 40px;
        left: 60px;
    }
    .hero-section .abs button{
        top: 10px;
        right: 5px;
    }
    .hero-section h1{
        font-size: 40px;
        /* margin-bottom: 20px; */

    }
    .hero-section p{
        width: 100%;
        padding: 0 20px;
        /* margin: 0 auto; */
    }
}